@model RAMWebsite.Models.User;
@{
    ViewData["Title"] = "Project RAM";
    string returnUrl = Context.Request.Query["returnurl"];
}

<h1 class="ml-3">Logowanie</h1>

<form method="post" id="loginForm" asp-action="Login" asp-route-ReturnUrl="@returnUrl">
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="UserName"></label>
        <div class="col-sm-10">
            <input type="text" class="form-control" asp-for="UserName">
            <span class="text-danger" asp-validation-for="UserName"></span>
        </div>
    </div>
    <div class="form-group">
        <label class="control-label col-sm-2" asp-for="Password"></label>
        <div class="col-sm-10">
            <input type="password" class="form-control" asp-for="Password">
            <span class="text-danger" asp-validation-for="Password"></span>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <div class="checkbox">
                <label><input type="checkbox" name="rememberMe"> Zapamiętaj mnie</label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" class="btn btn-primary">Zaloguj się</button>
        </div>
    </div>
</form>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}